Ceci est une note
<table>
<tr>
	<th>ID</th><td><%= @note.id %></td>
</tr>
<tr>
	<th>USER</th><td><%= @note.user %></td>
</tr>
<tr>
	<th>CONTENT</th><td><%= @note.content %></td>
</tr>
<tfoot>
	<%= link_to "< Back","/" %>
</tfoot>
</table>